body {
	width: 100%;
}

/*Includes written chemical equation and submit button for now*/
.equationDiv {
	font-size: 16px;
	width: 700px;
}

.equationDiv h1 {
	text-align: center;
}

.correctGreen {
	transition: background-color 1s ease;
	background-color: lightgreen;
}

.wrongRed {
	transition: background-color 1s ease;
	background-color: #ff6961;
}

/* Refers to the written chemical equation*/
#reaction {
	font-size: 20px;
	padding: 1em;
}

#reaction input {
	width: 50px;
	line-height: 20px;
	font-size: 18px;
	vertical-align: top;
	text-align: right;
	border: 0px;
	border-bottom: 1px solid black;
}

.formulaWidth {
	width: 150px;
	display: inline-block;
	text-align: center;
}

.formulaWidth span {
	margin-left: 5px;
}

#reaction div.visible {
	display: inline-block;
	width: 200px;
}

#buttons, #buttonsNext {
	text-align: center;
	padding: 0em 1em 1em 1em;
}

#buttonsNext .successText {
	padding: 0.5em;
	font-size: 1.5em;
}
